<!DOCTYPE html>
<html lang="en">
<head>
<title>JDI Statistics</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!-- We will insert the dom here -->
<div id="react-app">!{app}</div>
<script src="bundle.js"></script>
</body>
</html>
